body{
    font-family: arial;
    background-color: black;
    margin: 0;
}
header{
    background-color: rgb(0, 250, 0);
    text-align: center;
    padding: 15px;
}
.student-details{
    background-color: rgb(0, 255, 247);
    padding:15px;
    margin: 20px;
    border-radius: 5px;
}
.skills
{
    background-color: rgb(0, 255, 247);
    padding:15px;
    margin: 20px;
    border-radius: 5px;
}
.personal-info{
    background-color: rgb(0, 255, 247);
    padding:15px;
    margin: 20px;
    border-radius: 5px;
}
footer{
    background-color: rgb(255, 0, 25);
    text-align: center;
    padding: 15px;
}
